/*
Template Name: Realistic
File: Navigation CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

#topnav{
	z-index:1000;
	font-size:18px;
	text-align:center;
	text-transform:uppercase;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	}

/* ESSENTIAL STYLES */
.nav, .nav *{
	margin:0;
	padding:0;
	list-style:none;
	}
	
.nav ul{
	position:absolute;
	top:-999em;
	width:10em; /* left offset of submenus need to match (see below) */
	}
	
.nav ul li{
	width:100%;
	}
	
.nav li:hover{
	visibility:inherit; /* fixes IE7 'sticky bug' */
	}
	
.nav li{
	position:relative;
	display:inline-block;
	zoom:1; /* fixes IE7 Display mode */
    *display:inline; /* fixes IE7 Display mode */
	}
	
.nav a{
	display:block;
	position:relative;
	}
	
.nav li:hover ul, .nav li.sfHover ul{
	left:0;
	top:2.5em; /* match top ul list item height */
	z-index:99;
	}
	
ul.nav li:hover li ul, ul.nav li.sfHover li ul{
	top:-999em;
	}
	
ul.nav li li:hover ul, ul.nav li li.sfHover ul{
	left:10em; /* match ul width */
	top:0;
	}
	
ul.nav li li:hover li ul, ul.nav li li.sfHover li ul{
	top:-999em;
	}
	
ul.nav li li li:hover ul, ul.nav li li li.sfHover ul{
	left:10em; /* match ul width */
	top:0;
	}
	
/* Default Colours */
.nav a{
	padding:.75em 1em;
	text-decoration:none;
	background-color:#E0E0E0;
	}

.nav li.active a{
	color:#999999;
	}
	
.nav a, .nav a:visited, .nav li.active li a{ /* visited pseudo selector so IE6 applies text colour*/
	color:#333333;
	}
	
.nav li{
	background:#E0E0E0;
	}
	
.nav li li{
	background:#E0E0E0;
	}
	
.nav li li li{
	background:#E0E0E0;
	}
	
.nav li:hover, .nav li.sfHover, .nav a:focus, .nav a:hover, .nav a:active{
	background:#C0C0C0;
	}
	
/*** arrows **/
.nav a.sf-with-ul{
	padding-right:2.25em;
}
.nav li ul a.sf-with-ul{
	padding-right:1em;
	}
	
.sf-sub-indicator{
	position:absolute;
	display:block;
	right:.75em;
	top:1.05em; /* IE6 only */
	width:10px;
	height:10px;
	text-indent:-999em;
	overflow:hidden;
	background:url("../images/nav_arrows.png") no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
	}
	
a > .sf-sub-indicator{  /* give all except IE6 the correct values */
	top:.8em;
	background-position:0 -100px; /* use translucent arrow for modern browsers*/
	}
	
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator{
	background-position:-10px -100px; /* arrow hovers for modern browsers*/
	}
	
/* point right for anchors in subs */
.nav ul .sf-sub-indicator{
	background-position:-10px 0;
	}
	
.nav ul a > .sf-sub-indicator{
	background-position:0 0;
	}
	
/* apply hovers to modern browsers */
.nav ul a:focus > .sf-sub-indicator, .nav ul a:hover > .sf-sub-indicator, .nav ul a:active > .sf-sub-indicator, .nav ul li:hover > a > .sf-sub-indicator, .nav ul li.sfHover > a > .sf-sub-indicator{
	background-position:-10px 0; /* arrow hovers for modern browsers*/
	}

/* ----------------------------------------------Column Navigation-------------------------------------*/

.column .subnav{display:block; padding:25px; background-color:#F9F9F9; margin-bottom:30px;}

.column .subnav h2{
	margin:0 0 20px 0;
	padding:0 0 14px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	background-color:#F9F9F9;
	line-height:normal;
	border-bottom:1px dotted #666666;
	}

.column .subnav ul{
	margin:0;
	padding:0;
	list-style:none;
	}

.column .subnav li{
	margin:0 0 3px 0;
	padding:0;
	}

.column .subnav ul ul, .column .subnav ul ul ul, .column .subnav ul ul ul ul, .column .subnav ul ul ul ul ul{border-top:none; padding-top:0;}

.column .subnav a{
	display:block;
	margin:0;
	padding:5px 10px 5px 20px;
	color:#666666;
	background:url("../images/red_file.gif") no-repeat 10px center #F9F9F9;
	text-decoration:none;
	border-bottom:1px dotted #666666;
	}

.column .subnav a:hover{color:#A3443E; background-color:#F9F9F9;}

.column .subnav ul ul a, .column .subnav ul ul ul a, .column .subnav ul ul ul ul a, .column .subnav ul ul ul ul ul a{background:url("../images/black_file.gif") no-repeat #F9F9F9;}
.column .subnav ul ul a{padding-left:40px; background-position:30px center;}
.column .subnav ul ul ul a{padding-left:50px; background-position:40px center;}
.column .subnav ul ul ul ul a{padding-left:60px; background-position:50px center;}
.column .subnav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}